relatorio_acompanhamento_2025-05-09_17_37_48.xlsx
arquivo_tratado_2025-05-09_17_37_48.xlsx
acompanhamento_2025-05-09.csv
relatorio_acompanhamento_geral_2025-05-09_17_37_52.csv
GenAI-M1-GERAR-RELATORIO-COMPLETO - COMPARTILHADO.ipynb
